.custom-width {
    margin-top: 3vw;
    background-color: white;
    width: 70%;
    padding: 30px;
    border: 2px solid rgba(0, 175, 236, 0.7);
    border-radius: 20px;
}

.requests-container {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    border-radius: 20px;
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: 75vh;
    box-shadow: 0 2px 15px #004365;
}

h2 {
    margin-bottom: 1vw;
}
.custom-confirm-button{
    border: none;
    border-radius: 25px;
    width: 90%;
    height: 7vh;
    background-color: #00AFEC;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-back{
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
}
.custom-back:hover{
    background-color: transparent;
    color: black;
}

.large-select {
    height: 38px; /* Ajusta la altura según tus necesidades */
}

.custom-confirm-button {
    /* ... Otros estilos ... */
    height: 38px; /* Ajusta la altura según tus necesidades, igualando la altura del select */
}

/* ... Otros estilos ... */

.large-new{
    width: 66%;
}