.image-config {
    width: 30%;
    margin-left: -20%;
}

.nav-size {
    height: 11vh;
    
}

.custom-button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 25px;
}

.custom-button:hover {
    background-color: transparent;
    color: black;
}

.principal {
    box-shadow: 0 2px 15px #004365;
}


